.books {
  color: #ffffff;
  padding-top: 395px;
  text-align: center;
  margin-bottom: 60px;
  position: relative;

  @include md {
    margin-bottom: 103px;
    text-align: left;
    padding-top: 104px;
    padding-bottom: 48px;
    background-image: url("#{$path}write-to-tablet.png");
    background-repeat: no-repeat;
    background-position: 314px 281px;
    background-size: 335px;
  }

  @include smd {
    background-image: url("#{$path}write-to-desktop.png");
    padding-top: 149px;
    background-position: 490px 410px;
    background-size: 454px;
    margin-bottom: 108px;
  }

  @include lg {
    padding-top: 203px;
    padding-bottom: 104px;
    margin-bottom: 143px;
    background-position: 607px 516px;
    background-size: 606px;
  }
}

.books__wrapper {
  @include md {
    width: 330px;
    margin: 0 0 0 auto;
  }

  @include smd {
    width: 527px;
  }

  @include lg {
    width: 648px;
  }
}

.books__title {
  font-weight: 500;
  line-height: 1.05;
  font-size: 8.55vw;
  margin-bottom: 14px;
  position: relative;

  @include md {
    font-size: 30px;
    margin-bottom: 11px;
  }

  @include smd {
    line-height: 51px;
    font-size: 48px;
    margin-bottom: 17px;
  }

  @include lg {
    font-size: 64px;
    line-height: 67px;
    margin-bottom: 34px;
  }
}

.books__description {
  line-height: 5.7vw;
  margin-bottom: 5vw;
  font-size: 3.7vw;

  @include md {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 73px;
  }

  &_desktop {
    display: none;

    @include smd {
      display: block;
      line-height: 26px;
      font-size: 18px;
      padding-right: 45px;
      margin-bottom: 94px;
    }

    @include lg {
      font-size: 20px;
      line-height: 29px;
      margin-bottom: 101px;
      padding-right: 110px;
      letter-spacing: -0.1px;
    }
  }

  &_mobile {
    @include smd {
      display: none;
    }
  }
}

.books__bold {
  font-weight: bold;
}

.books__messengers {
  @include md {
    margin-left: 2px;
  }

  @include lg {
    margin-left: 0;
  }
}

.books__anchor {
  position: absolute;
  bottom: 0;
}