.footer {
  background-color: #ffffff;
  font-size: 12px;
  padding-bottom: 20px;

  @include md {
    font-size: 14px;
    padding-top: 44px;
    padding-bottom: 27px;
  }

  @include smd {
    font-size: 16px;
    padding-top: 52px;
    padding-bottom: 30px;
  }

  @include lg {
    font-size: 20px;
    padding-top: 33px;
    padding-bottom: 44px;
  }
}

.footer__block {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-child {
    @include md {
      flex-direction: row;
      justify-content: flex-start;
    }

    @include lg {
      padding-top: 4px;
    }
  }

  &:last-child {
    @include md {
      align-items: flex-end;
    }

    @include smd {
      flex-direction: row;
      align-items: flex-start;
    }

    @include lg {
      padding-bottom: 5px;
    }
  }
}

.footer__social {
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 13px;

  @include md {
    margin-bottom: 14px;
    margin-left: 20px;
    order: 2;
    width: 92px;
  }

  @include smd {
    margin-bottom: 10px;
    margin-left: 19px;
    order: 2;
    width: 85px;
  }

  @include lg {
    margin-bottom: 10px;
    margin-left: 26px;
    width: 112px;
  }
}

.footer__social-link {
  background-repeat: no-repeat;
  background-size: contain;

  &_fb {
    background-image: url("#{$path}logo-fb.svg");
    width: 5px;
    height: 13px;

    @include lg {
      width: 6px;
      height: 16px;
    }
  }

  &_tw {
    background-image: url("#{$path}logo-tw.svg");
    width: 16px;
    height: 13px;

    @include lg {
      width: 19px;
      height: 16px;
      margin-right: -1px;
    }
  }

  &_ig {
    background-image: url("#{$path}logo-ig.svg");
    width: 13px;
    height: 13px;

    @include lg {
      width: 16px;
      height: 16px;
    }
  }

  &_yt {
    background-image: url("#{$path}logo-yt.svg");
    width: 18.65px;
    height: 13px;

    @include lg {
      width: 22.96px;
      height: 16px;
    }
  }
}

.footer__contacts-wrapper {
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.footer__email {
  margin-bottom: 1px;

  @include md {
    margin-right: 13px;
    margin-top: 3px;
  }

  @include smd {
    margin-top: 0;
    margin-right: 15px;
  }

  @include lg {
    margin-top: 4px;
    margin-right: 23px;
  }
}

.footer__copyright {
  @include md {
    order: 1;
  }
}

.footer__wrapper {
  @include md {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__vbar {
  display: none;
  width: 1px;
  height: 15px;
  background-color: #000000;
  margin-right: 8px;
  margin-top: 3px;

  @include smd {
    margin-top: -1px;
    height: 17px;
    margin-right: 11px;
  }

  @include lg {
    height: 26px;
    margin-top: 3px;
  }

  &_tablet {
    @include md {
      display: inline-block;
    }

    @include lg {
      margin-right: 9px;
    }
  }

  &_desktop {
    @include smd {
      display: inline-block;
      margin-left: 14px;
      margin-right: 13px;
    }

    @include lg {
      margin-left: 21px;
      margin-right: 15px;
    }
  }
}

.footer__copyright {
  margin-bottom: 1px;

  @include md {
    margin-bottom: 9px;
  }
}

.footer__phone {
  margin-bottom: 1px;

  @include md {
    margin-top: 3px;
  }

  @include smd {
    margin-top: 0;
  }

  @include lg {
    margin-top: 4px;
  }
}

.footer__privacy {
  margin-bottom: 4px;

  @include lg {
    margin-bottom: 2px;
    letter-spacing: -0.1px;
    margin-top: 4px;
  }
}