.page__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-image:
          url("#{$path}bg-books.png"),
          url("#{$path}bg-item1.png"),
          url("#{$path}bg-item2.png"),
          url("#{$path}bg-item3.png"),
          url("#{$path}bg-item4.png"),
          url("#{$path}bg-item5.png"),
          linear-gradient(180deg, #3E95F3 21.81%, #FEEBF2 147.92%);
  background-repeat: no-repeat;
  background-position:
          calc(50% - 34px) 43px,
          calc(50% - 112px) 592px,
          calc(50% + 145px) 1060px,
          calc(50% - 134px) 1515px,
          calc(50% + 107px) 1991px,
          calc(50% - 119px) 2550px,
          0 0;
  background-size:
          368px auto,
          auto,
          auto,
          auto,
          auto,
          auto,
          contain;

  @include md {
    background-image:
            url("#{$path}bg-books.png"),
            url("#{$path}bg-item1-tablet.png"),
            url("#{$path}bg-item2-tablet.png"),
            url("#{$path}bg-item3-tablet.png"),
            url("#{$path}bg-item4-tablet.png"),
            url("#{$path}bg-item5-tablet.png"),
            url("#{$path}bg-item6-tablet.png"),
            url("#{$path}bg-item7-tablet.png"),
            linear-gradient(180deg, #3E95F3 21.81%, #FEEBF2 147.92%);
    background-position:
            calc(50% - 224px) 33px,
            calc(50% - 337px) 381px,
            calc(50% + 342px) 660px,
            calc(50% + 355px) 994px,
            calc(50% - 340px) 1034px,
            calc(50% + 305px) 1391px,
            calc(50% - 399px) 1571px,
            calc(50% + 164px) 2046px,
            0 0;
    background-size:
            447px auto,
            auto,
            auto,
            auto,
            auto,
            auto,
            auto,
            auto,
            contain;
  }

  @include smd {
    background-image:
            url("#{$path}bg-books.png"),
            url("#{$path}bg-item1-smd.png"),
            url("#{$path}bg-item2-smd.png"),
            url("#{$path}bg-item3-smd.png"),
            url("#{$path}bg-item4-smd.png"),
            url("#{$path}bg-item5-smd.png"),
            url("#{$path}bg-item6-smd.png"),
            url("#{$path}bg-item7-smd.png"),
            linear-gradient(180deg, #3E95F3 21.81%, #FEEBF2 147.92%);
    background-position:
            calc(50% - 295px) 30px,
            calc(50% - 514px) 463px,
            calc(50% + 475px) 759px,
            calc(50% - 488px) 1227px,
            calc(50% + 683px) 1297px,
            calc(50% - 695px) 1682px,
            calc(50% + 491px) 1672px,
            calc(50% + 252px) 2246px,
            0 0;
    background-size:
            565px auto,
            auto,
            auto,
            auto,
            auto,
            auto,
            auto,
            auto,
            contain;
  }

  @include lg {
    background-image: url("#{$path}bg-books.png"),
    url("#{$path}bg-item1-desktop.png"),
    url("#{$path}bg-item2-desktop.png"),
    url("#{$path}bg-item3-desktop.png"),
    url("#{$path}bg-item4-desktop.png"),
    url("#{$path}bg-item5-desktop.png"),
    url("#{$path}bg-item6-desktop.png"),
    url("#{$path}bg-item7-desktop.png"),
    linear-gradient(180deg, #3E95F3 21.81%, #FEEBF2 147.92%);
    background-position: calc(50% - 434px) 10px,
    calc(50% - 737px) 834px,
    calc(50% + 702px) 1087px,
    calc(50% - 695px) 1781px,
    calc(50% + 892px) 1834px,
    calc(50% - 906px) 2391px,
    calc(50% + 723px) 2316px,
    calc(50% + 364px) 3018px,
    0 0;
    background-size: 917px auto,
    auto,
    auto,
    auto,
    auto,
    auto,
    auto,
    auto,
    contain;
  }
}

.page__modal {
  overflow: hidden;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#3E95F3, 0.7);
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  padding: 70px 27px 40px;
  display: none;
}

.active-modal {
  filter: blur(20px);
}