.tweets {
  padding-bottom: 48px;

  @include md {
    padding-bottom: 10px;
  }
}

.tweets__title {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  margin-bottom: 22px;

  @include md {
    display: none;
  }
}

.twitter-tweet {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  width: 328px!important;
  border-radius: 5px;
  margin-bottom: 13px!important;

  @include smd {
    width: 520px!important;
  }

  @include lg {
    width: 430px!important;
  }
}

.tweets__wrapper {
  @include md {
    height: 1040px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
  }

  @include smd {
    height: 1220px;
  }

  @include lg {
    height: 1214px;
    align-content: space-between;
  }
}

.tweets__container_linkedin {
  width: 315px;
  height: 468px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 10px;

  @include md {
    width: 328px;
  }

  @include smd {
    width: 520px;
    height: 525px;
  }

  @include lg {
    width: 430px;
  }
}

.tweets__container_desktop {
  display: none;

  @include lg {
    display: block;
  }
}